# Goal: Predict future temperature anomalies

# 1-Data exploration

In [2]:
#Import the requirements libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split

In [11]:
# Load the data
df=pd.read_csv("global_temperature_anomalies.csv",sep=",",header=1)

In [12]:
df.head()

,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,J-D,D-N,DJF,MAM,JJA,SON
0,1880,-0.19,-0.25,-0.10,-0.17,-0.11,-0.22,-0.19,-0.11,-0.15,-0.24,-0.23,-.18,-.18,***,***,-0.12,-0.17,-0.21
1,1881,-0.20,-0.14,0.03,0.05,0.06,-0.19,0.00,-0.04,-0.15,-0.22,-0.19,-.07,-.09,-.10,-.18,0.04,-0.08,-0.19
2,1882,0.16,0.14,0.04,-0.17,-0.15,-0.23,-0.17,-0.07,-0.14,-0.24,-0.17,-.36,-.11,-.09,.07,-0.09,-0.16,-0.18
3,1883,-0.29,-0.37,-0.13,-0.18,-0.17,-0.08,-0.07,-0.14,-0.21,-0.11,-0.23,-.11,-.17,-.20,-.34,-0.16,-0.09,-0.19
4,1884,-0.13,-0.07,-0.36,-0.40,-0.34,-0.36,-0.30,-0.27,-0.27,-0.25,-0.34,-.31,-.28,-.27,-.11,-0.37,-0.31,-0.29

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146 entries, 0 to 145
Data columns (total 19 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Year    146 non-null    int64
 1   Jan     146 non-null    float64
 2   Feb     146 non-null    float64
 3   Mar     146 non-null    float64
 4   Apr     146 non-null    float64
 5   May     146 non-null    float64
 6   Jun     146 non-null    float64
 7   Jul     146 non-null    float64
 8   Aug     146 non-null    float64
 9   Sep     146 non-null    float64
 10  Oct     146 non-null    float64
 11  Nov     146 non-null    float64
 12  Dec     146 non-null    object
 13  J-D     146 non-null    object
 14  D-N     146 non-null    object
 15  DJF     146 non-null    object
 16  MAM     146 non-null    float64
 17  JJA     146 non-null    float64
 18  SON     146 non-null    float64
dtypes: float64(14), int64(1), object(4)
memory usage: 21.8+ KB